 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Novo Herói Adicionado: <%=  nome %></h3>
      </header>
      <div class="content"> 
        <h4>Com Elemento de: <%=  elemento %></h4>
        <h4>Com Posição sendo: <%=  posicao %></h4>
        <h4>Suas Habilidades: <%=  habilidades %></h4>
      </div>

      <%-include('../rodape.ejs')%>