<%-include('../cabecalho.ejs')%>

         <header>
        <h3>Editar </h3>
      </header>
      <div class="content">
        <form id="form-instrumento" method="post" enctype="multipart/form-data" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="id">ID do Herói</label>
              <input id="id" value="<%=heroi.id%>" name="id" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Nome</label>
              <input id="jogador" value="<%=heroi.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
            </div>
             <div>
              <label for="posicao">Posição</label>
              <select id="marca" name="posicao" required>
                <option value="" disabled selected>Selecione a Posição</option>
                <option>TopLane</option>
                <option>MidLane</option>
                <option>BotLane</option>
              </select>
            </div>
            <div>
              <label for="elemento">Elemento</label>
              <select id="tipo" name="elemento" required>
                <option value="" disabled selected>Selecione um Elemento</option>
                <option>Força</option>
                <option>Agilidade</option>
                <option>Inteligencia</option>
                <option>Universal</option>
              </select>
            </div>
            <div>
              <label for="altura">Habilidades</label>
              <input value="<%=heroi.habilidades%>"id="nome" name="habilidades" type="text" placeholder="Digite a Habilidade" required>
            </div>
          </div>
          
            <div>
              <label for="image">Imagem do Herói</label>
          <% if (heroi.image) { %>
          <img src="data:image/png;base64,<%= heroi.image.toString('base64') %>" alt="<%= heroi.nome %>" width="100" />
          <% } else { %>
            Sem imagem
           <% } %>
              <input id="image" name="image" type="file" placeholder="Mande a foto">
            </div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/herois/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Herói</button>
          </footer>
        </form>
      </div>
<%-include('../rodape.ejs')%>